{% extends 'base.html' %}
{% block title %} {{'Manage Role(s)'|site_title}} {% endblock %}

{% block page_title %} Manage Role {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('.static', filename='scrollbar.css')}}" />
{% endblock %}

{% block extra_js %}
    <script src="{{url_for('static', filename='js/typeahead.bundle.min.js')}}"></script>
    <script>
        $(document).ready(function(e){ 
            $('table').stupidtable();
            
            $('[name=select_all]').click(function(e){
                  if(this.checked == true){
                      $('[type=checkbox]').prop('checked', true);
                  }else{
                      $('[type=checkbox]').prop('checked', false);
                  }
            });
            
            $('[name=function]').change(function(e){
                  if(this.checked == false){
                       $('[name=select_all]').prop('checked', false);
                  }
                
                  if ($('[name=function]:checked').length == $('[name=function]').length ){ 
                        $('[name=select_all]').prop('checked', true);
                  }
            });
            
            $('[name=add_role_form]').submit(function(e){
                
                e.preventDefault();
                
                var allowed_funcs = $('[name=function]:checked').map(function(){ return $.trim(this.value)}).get().join(',');
                
                var disallowed_funcs = $('[name=function]:not(:checked)').map(function(){ return $.trim(this.value)}).get().join(',');
                
                var users = $('[name=username]:checked').map(function(){ return $.trim(this.value)}).get().join(',');
                
                var name = $('[name=name]').val();
                
                var csrf_token = $('[name=csrf_token]').val();
                
                $('[name=add_role_form]').find('button[type=submit]').prop('disabled', true).text('Please wait ..');
                $.ajax({
                    url: '/roles/add',
                    type: 'POST',
                    data: {
                        allowed_funcs: allowed_funcs, 
                        name: name, 
                        disallowed_funcs: disallowed_funcs, 
                        csrf_token: csrf_token,
                        users: users
                    }
                }).done(function(response){
                     toastr.success(response.success);
                }).fail(function(xhr){
                    toastr.error(xhr.responseText);
                }).always(function(){
                     $('[name=add_role_form]').find('button[type=submit]').prop('disabled', false).text('Submit');
                });
                
            });
            
            $('#add_role_modal').on('show.bs.modal', function(e){
                 var name = e.relatedTarget.dataset.name;
                 if( typeof name != "undefined"){
                     $('#add_role_modal').find('.modal-title').text('Manage Role'); 
                     $('[name=name]').val(name);
                     $('[name=add_role_form]').find('button[type=submit]').prop('disabled', true);
                      $.ajax({
                          url: '/roles/'+name
                      }).done(function(response){
                          $('[name=add_role_form]').find('button[type=submit]').prop('disabled', false);
                          $('[name=function]').prop('checked', false);
                          
                          $('[name=username]').prop('checked', false);
                          try{
                            $.each( $('[name=function]'), function(){
                                   var value = $(this).val();
                                   var element = $(this);
                                   element.prop('checked', false);
                                   $.each(response.results[0].allowed_funcs, function(i, row){
                                            if( $.trim(row) == $.trim(value) ){
                                                element.prop('checked', true);
                                            }
                                   });
                            });   
                          }catch(e){
                              console.log(e);
                          }
                          
                          $.each( $('[name=username]'), function(){
                                   var value = $(this).val();
                                   var element = $(this);
                                   element.prop('checked', false);
                                   $.each(response.users, function(i, row){     
                                       if( $.trim(row.username) == $.trim(value) ){
                                                element.prop('checked', true);
                                            }
                                   });
                          });
                          $('#role_form_delete_btn').prop('disabled', false);
                          
                      }).fail(function(){
                          $('[name=add_role_form]').find('button[type=submit]').prop('disabled', false);
                          $('[name=function]').prop('checked', false);
                          $('[name=username]').prop('checked', false);
                      }).always(function(){
                          $('[name=add_role_form]').find('button[type=submit]').prop('disabled', false);
                      });
                 }else{
                     $('#add_role_modal').find('.modal-title').text('Add Role'); 
                     $('[name=name]').val('');
                 }
            });
            
            $('#role_form_delete_btn').click(function(e){
                  $.ajax({
                      url: '/roles/delete',
                      type: 'POST',
                      data: $('[name=add_role_form]').serialize()
                  }).done(function(response){
                      toastr.success(response.success);
                  }).fail(function(xhr){
                      toastr.error(xhr.statusText);
                  });
            });
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{url_for('dashboard.controllers.index')}}">Home</a></li>
    <li class="active">Role</li>
{% endblock%}

{% block top_content %}
    <span class="create_role_top_content">
    </span>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">
        <div class="panel panel-primary">
        <div class="panel-heading">Roles<span class="pull-right"></span></div>
        <div class="panel-body">
                        <div class="the-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#functions_tab" aria-controls="home" role="tab" data-toggle="tab">Functions</a></li>
                    <li role="presentation">
                        <a href="#users_tab" aria-controls="profile" role="tab" data-toggle="tab">Users</a></li>
                    <li role="presentation">
                        <a href="#departments_tab" aria-controls="messages" role="tab" data-toggle="tab">Departments</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="functions_tab">
                        <div class="table-responsive func_table_scroll" style="height: 300px; overflow-y:scroll; ">
                           <table class="table table-bordered" id="func_table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all"></th>
                                        <th data-sort="string">Name</th>
                                        <th data-sort="string">Description</th>
                                    </tr>
                                </thead>
                               <tbody>
                                    {% for function in functions %}
                                        <tr>
                                            <td><input type="checkbox" name="function" value="{{function.name}}"></td>
                                            <td>{{function.name}}</td>
                                            <td>{{function.desc}}</td>
                                        </tr>
                                    {% endfor %}
                               </tbody>
                           </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="users_tab">
                        <div class="table-responsive func_table_scroll" style="height: 300px; overflow-y:scroll; ">
                           <table class="table table-bordered" id="users_table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="select_all"></th>
                                        <th data-sort="string">Username</th>
                                    </tr>
                                </thead>
                               <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td><input type="checkbox" name="username" value="{{user.username}}"></td>
                                            <td>{{user.username}}</td>
                                        </tr>
                                    {% endfor %}
                               </tbody>
                           </table>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="departments_tab">
                        Departments
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{% include 'roles/add_role.html' %}
{% endblock %}